{% extends 'base.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block body %}
<h1>Teams</h1>

<section class="Teams" style="background-image: url(images/teams-landingbg.jpg);">
<div class="container">
    {% if teams|length > 0 %}

        <div class="team-block">
            {% for key,team in teams %}
                <div class="team-data">
                    <a class="csk" href="{{ path('team_details', {'id': team.id}) }}">
                        <div class="team-player">
                            <img src="{{ asset(team_dir ~ team.logo ) }}" alt="csk-logo">
                        </div>
                        <div class="team-txt">
                            <h3>{{team.name}}</h3>
                        </div>
                    </a>
                </div>
            {% endfor %}     
        </div> 
    {% else %}
        <tr>
            <td colspan="7">no records found</td>
        </tr>
    {% endif %}   

</div>
    </section>
{% endblock %}